<nav ng-controller="NavCtrl" class="navbar navbar-default">
  
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <img alt="Brand" src="images/moncher.jpg" class="img-responsive logoMoncher">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        <li id="nameapp"><a href="#/" class="font-moncher">Mon Cher <sup>beta</sup><span class="sr-only">(current)</span></a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search" ng-show="signedIn()">
        <!-- <div class="form-group input-group-sm">
          <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
        </div> -->
        <div class="form-group input-group-sm">
          <input type="text" class="form-control url-field" placeholder="Link" ng-model="post.url">
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <button type="submit" class="btn btn-default" ng-mousedown="loadGroups()" data-toggle="modal" data-target=".choosesubmit"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="left:1px"></span></button>
        </div>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="signedIn()">
          <a style="cursor:pointer" data-toggle="modal" data-target=".useraction">
            <img ng-src="{{ user.profile.profileImageURL }}" class="nav-pic" />
            {{ user.profile.username }}
          </a>
        </li>
        <div ng-hide="signedIn()" id="line" class="row cmt"></div>        
        <li ng-hide="signedIn()"><a href="#/login"><strong>Log In</strong></a></li>
        <li ng-hide="signedIn()"><a href="#/register">Sign Up for <strong>Mon Cher</strong></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <div class="choosesubmit modal fade" tabindex="-1" role="dialog" aria-labelledby="choosesubmit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="choosesubmit" class="modal-title">Choose Group</h4>
        </div>
        <div class="modal-body">
          <form>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-mousedown="submitPost()" style="width:100%">Public</button>
            <div ng-repeat="group in groups">
              <button type="submit" class="btn btn-default buttonfull" data-dismiss="modal">{{ group.name }}</button>
            </div>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="creategroup modal fade" tabindex="-1" role="dialog" aria-labelledby="creategroup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="creategroup" class="modal-title">New Group</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group input-group-sm">
              <input type="text" class="form-control" placeholder="Name" ng-model="group.name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-mousedown="createGroup()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="useraction modal fade" tabindex="-1" role="dialog" aria-labelledby="useraction">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="useraction" class="modal-title">Actions</h4>
        </div>
        <div class="modal-body">
          <a class="btn btn-default buttonfull custom-close" ng-href="#/users/{{ user.uid }}" role="button">My Profile</a>
          <button type="submit" class="btn btn-default buttonfull" data-dismiss="modal" data-toggle="modal" data-target=".creategroup">New Group</button>  
          <button type="submit" class="btn btn-primary buttonfull" data-dismiss="modal" ng-mousedown="logout()">Log Out</button>          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</nav>

<script type="text/javascript">
  $(function () {
    $(".custom-close").on('click', function() {
        $('.useraction').modal('hide');
    });
  });
</script>