<nav ng-controller="NavCtrl" class="navbar navbar-default">
  
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <img alt="Brand" src="images/moncher.jpg" class="img-responsive logoMoncher">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        <li id="nameapp"><a href="#/" class="font-moncher">Mon Cher <sup>beta</sup><span class="sr-only">(current)</span></a></li>
      </ul>
      <div id="line" class="row cmt"></div>
      <form class="navbar-form navbar-left" role="search" ng-show="signedIn()">
        <div class="form-group input-group-sm">
          <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
        </div>
        <div class="form-group input-group-sm">
          <input type="text" class="form-control" placeholder="Link" ng-model="post.url">
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <button type="submit" class="btn btn-default" ng-mousedown="loadGroups()" data-toggle="modal" data-target=".modal">Send</button>
        </div>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="signedIn()">
          <a ng-href="#/users/{{ user.uid }}">
            <img ng-src="{{ user.profile.profileImageURL }}" class="nav-pic" />
            {{ user.profile.username }}
          </a>
        </li>
        <li ng-show="signedIn()"><a ng-href="#" ng-click="logout()">Log Out</a></li>
        <li ng-hide="signedIn()"><a href="#/login"><strong>Log In</strong></a></li>
        <li ng-hide="signedIn()"><a href="#/register">Sign Up for <strong>Mon Cher</strong></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="choosesubmit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="choosesubmit" class="modal-title">Your favorite</h4>
        </div>
        <div class="modal-body">
          <form>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="submitPost()" style="width:100%">Public</button>
            <div ng-repeat="group in groups">
              <button type="submit" class="btn btn-default" data-dismiss="modal" style="width:100%; margin-top:5px;">{{ group.name }}</button>
            </div>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</nav>